@tailwind base;
@tailwind components;
@tailwind utilities;


#home{
}

#page1{
    width: 95vw;
    height: 100vh;
}
#page2{
    width:100%;
    height: 250vh;
    overflow: hidden;
    background-color:#6834FF;

}
.phone-img {
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 400vh;
    object-fit: cover;
    margin-left: 20vh;
}
.c-4{
    position: fixed;
    width: 15vw;
    height: 90px;
    bottom: 30px;
    right: 40px;
    background-color:white;
    text-align: center;
    border-radius: 10px;
}
.A-1{
    margin-top: 14px;
    padding-right: 10px;
    margin-bottom: 5px;

}
